*{background-color: lightpink;}
h1 
{
    font-family: cursive; color:blanchedalmond;
    text-align: center;
}
body{text-align: center;}
img{border-radius: 50%;}
p{font-family:Verdana, Geneva, Tahoma, sans-serif; color: blanchedalmond;}
a{color: darkgoldenrod;}
